body 
{
    background: white;
    font-family: 'Times New Roman', Times, serif;
}
h1 
{
    font-size: 16px;
    color: darkred;
}

p:hover
{
    color: darkgoldenrod;
    text-decoration: underline;
}

p 
{
    color: blue;
    font-size: 16px;
    text-decoration: blueviolet
}